:root
	--color-primary #000
	//--color-primary-light some
	//--color-primary-dark some

	--color-secondary #fff
	//--color-secondary-light some
	//--color-secondary-dark some

	//--color-gray-1 #aaa
	//--color-gray-2 #eee

	/* feedback */

	--color-success #88c459
	--color-error #f5414f
	--color-warning #ffd137

	/* buttons */

	--btn-primary-bg #000
	--btn-primary-hover #000

	/*forms*/

	--form-element-border #000
	--form-element-border-focus #000
	--form-element-border-error #000
	--form-element-bg #000
	--form-text-placeholder #000

	/* border */

	--color-border #000

	/* body */

	--color-body-bg var(--white)

	/* text */

	--color-text #232323
	--color-text-heading #000
	--color-text-subtle #000
	--color-link #000