:root
	--font-primary Some
	--font-secondary Secondary

	--text-primary-weight 400

	--text-base-size rem(basis-scale())
	--text-scale-ratio 1.2

	--text-xs calc(var(--text-base-size) / (var(--text-scale-ratio) * var(--text-scale-ratio)))
	--text-sm calc(var(--text-base-size) / var(--text-scale-ratio))

	--text-size var(--text-base-size)

	xs(--text-size, var(--text-xs))
	sm(--text-size, var(--text-xs))